<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97678584490-d6te34m4e4sla77onk8valcm6lrd63lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97678584490-d6te34m4e4sla77onk8valcm6lrd63lp</string>
	<key>API_KEY</key>
	<string>AIzaSyCkiR7xDA5TuIZE19_Fod1jdWgmL_SKJP4</string>
	<key>GCM_SENDER_ID</key>
	<string>97678584490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notebookApp</string>
	<key>PROJECT_ID</key>
	<string>flutterfirenotes-14037</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirenotes-14037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97678584490:ios:90991a26e495922870fed3</string>
</dict>
</plist>